name: Dashboards SQL Query Workbench Test and Build

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '.'
      - '.github/workflows/sql-workbench-test-workflow.yml'

env:
  PLUGIN_NAME: dashboards-query-workbench
  OPENSEARCH_VERSION: 'main'
  OPENSEARCH_PLUGIN_VERSION: 3.0.0.0

jobs:
  tests:
    name: Run unit tests
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      # Enable longer filenames for windows
      - name: Enable longer filenames
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          path: OpenSearch-Dashboards
      - name: Get node and yarn versions
        id: versions_step
        run: |
          echo "::set-output name=node_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.node).match(/[.0-9]+/)[0]")"
          echo "::set-output name=yarn_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.yarn).match(/[.0-9]+/)[0]")"
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.versions_step.outputs.node_version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Install correct yarn version for OpenSearch Dashboards
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.versions_step.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.versions_step.outputs.yarn_version }}
      - name: Checkout workbench OpenSearch Dashboards plugin
        uses: actions/checkout@v2
        with:
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench
      - name: Bootstrap plugin/opensearch-dashboards
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn osd bootstrap
      - name: Run window tests
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn run test:jest:windows --coverage
      - name: Run non-window tests
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn run test:jest --coverage
      - name: Uploads coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v1
      - name: Build Artifact
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn build
          mv ./build/*.zip ./build/${{ env.PLUGIN_NAME }}-${{ env.OPENSEARCH_PLUGIN_VERSION }}.zip
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v1 # can't update to v3 because upload fails
        with:
          name: dashboards-query-workbench-${{ matrix.os }}
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench/build
