name: Dashboards SQL Query Workbench Test & Build

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '.'
      - '.github/workflows/sql-workbench-test-build-workflow.yml'

env:
  PLUGIN_NAME: dashboards-query-workbench
  OPENSEARCH_VERSION: '2.x'
  OPENSEARCH_PLUGIN_VERSION: 2.14.0.0

jobs:
  Get-CI-Image-Tag:
    uses: opensearch-project/opensearch-build/.github/workflows/get-ci-image-tag.yml@main
    with:
      product: opensearch-dashboards

  tests-linux:
    needs: Get-CI-Image-Tag
    name: Run unit tests on linux host
    runs-on: ubuntu-latest
    container:
      # using the same image which is used by opensearch-build team to build the OpenSearch Distribution
      # this image tag is subject to change as more dependencies and updates will arrive over time
      image: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-version-linux }}
      # need to switch to root so that github actions can install runner binary on container without permission issues.
      options: --user root

    steps:
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v3
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          path: OpenSearch-Dashboards
      - name: Checkout workbench OpenSearch Dashboards plugin
        uses: actions/checkout@v3
        with:
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench
      - name: Bootstrap plugin/opensearch-dashboards and run tests
        run: |
          chown -R 1000:1000 `pwd`
          cd ./OpenSearch-Dashboards/
          su `id -un 1000` -c "source $NVM_DIR/nvm.sh && nvm use && node -v && yarn -v &&
                               cd ./plugins/dashboards-query-workbench &&
                               whoami && yarn osd bootstrap --single-version=loose && yarn run test:jest --coverage"

      - name: Upload coverage
        if: always()
        uses: codecov/codecov-action@v3
        with:
          flags: dashboards-query-workbench
          directory: OpenSearch-Dashboards/plugins/dashboards-query-workbench
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build Artifact
        if: always()
        run: |
          chown -R 1000:1000 `pwd`
          cd ./OpenSearch-Dashboards/
          su `id -un 1000` -c "source $NVM_DIR/nvm.sh && nvm use && node -v && yarn -v &&
                               cd ./plugins/dashboards-query-workbench &&
                               whoami && yarn build && mv ./build/*.zip ./build/dashboards-query-workbench.zip"
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: dashboards-query-workbench-ubuntu-latest
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench/build

  tests-macos-windows:
    name: Run unit tests
    strategy:
      matrix:
        os: [ macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      # Enable longer filenames for windows
      - name: Enable longer filenames
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_VERSION }}
          path: OpenSearch-Dashboards
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: './OpenSearch-Dashboards/.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Install Yarn
        # Need to use bash to avoid having a windows/linux specific step
        shell: bash
        run: |
          YARN_VERSION=$(node -p "require('./OpenSearch-Dashboards/package.json').engines.yarn")
          echo "Installing yarn@$YARN_VERSION"
          npm i -g yarn@$YARN_VERSION
      - run: node -v
      - run: yarn -v
      - name: Checkout workbench OpenSearch Dashboards plugin
        uses: actions/checkout@v2
        with:
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench
      - name: Bootstrap plugin/opensearch-dashboards
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn osd bootstrap --single-version=loose
      - name: Test
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn test:jest --coverage
      - name: Build Artifact
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-query-workbench
          yarn build
          mv ./build/*.zip ./build/${{ env.PLUGIN_NAME }}-${{ env.OPENSEARCH_PLUGIN_VERSION }}.zip
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v1 # can't update to v3 because upload fails
        with:
          name: dashboards-query-workbench-${{ matrix.os }}
          path: OpenSearch-Dashboards/plugins/dashboards-query-workbench/build
